# Entorno virtual
env/
venv/
.venv/

# Variables de entorno y credenciales
.env
*.env

# Base de datos local
db.sqlite3
*.sqlite3

# Archivos compilados e intermedios de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos estáticos y multimedia subidos por usuarios
media/
staticfiles/

# Configuración de IDEs y editores
.vscode/
.idea/
